<div class="container">
<h5 style="margin-top:80px;">Filtres</h5>
 <select class="form-control" ng-model="datePeriode" ng-options="range.name for range in dateRanges"></select>


<h3>Théatres</h3>
<div class="row">
	<div ng-repeat='theatre in theatres | isAfter:datePeriode:"Début"' class=" col-lg-3 col-md-3" >
		<a ng-dialog="templateDialog"
		ng-dialog-data="{{theatre}}"
		ng-dialog-class="ngdialog-theme-default"
		ng-dialog-scope="this"
		ng-dialog-show-close="true">
			<div class="cartouche shadow-z-1">
				<h4>{{theatre.nom}}</h4>
				<div class="image">
					<img src="{{theatre.image}}" class="img-responsive" >
					<!-- animate-hide -->
	<!-- 				<div class="descriptif animate-hide" ng-show="viewDescriptif" ng-click='viewDescriptif=false'>
						<p>{{theatre.descriptif}}</p>
						<ul>
							<li ng-repeat="date in theatre.dates">
							<strong>{{date.description}}</strong> - {{date.date | date:'longDate'}}
							</li>
						</ul>				
					</div> -->
				</div>
			</div>
		</a>
	</div>
</div>


<h3>Pièces</h3>

<div class="row">
	<div ng-repeat='piece in pieces | isAfter:datePeriode:"Début"' class="col-lg-3 col-md-3">
		<a ng-dialog="templateDialog"
		ng-dialog-data="{{piece}}"
		ng-dialog-class="ngdialog-theme-default"
		ng-dialog-scope="this"
		ng-dialog-show-close="true">
			<div class="cartouche shadow-z-1">
				<h4>{{piece.nom}}</h4>
				<div class="image">
					<img src="{{piece.image}}" class="animate-hide img-responsive" >
					<!-- animate-hide -->
<!-- 					<div class="descriptif animate-hide" ng-show="viewDescriptif" ng-click='viewDescriptif=false'>
						<p>{{piece.descriptif}}</p>
						<ul>
							<li ng-repeat="date in piece.dates">
							<strong>{{date.description}}</strong> - {{date.date | date:'longDate'}}
							</li>
						</ul>				
					</div> -->
				</div>
			</div>
		</a>
	</div>
</div>

<h3>Personnes</h3>
<div class="row">
	<div ng-repeat="personne in personnes | orderBy:'image'" class="col-lg-3 col-md-3">
		<a ng-dialog="templateDialog"
		ng-dialog-data="{{personne}}"
		ng-dialog-class="ngdialog-theme-default"
		ng-dialog-scope="this"
		ng-dialog-show-close="true">
			<div class="personne cartouche shadow-z-1">
				<h4>{{personne.nom}}</h4>
				<div class="image" ng-if="personne.image!=null">
					<img src="{{personne.image}}" class="img-responsive">
				</div>
			</div>
		</a>
	</div>

</div>



<script type="text/ng-template" id="templateDialog">
	<div class="ngdialog-message">
		<h3>{{ngDialogData.nom}}</h3>
		<img src="{{ngDialogData.image}}" />
		<p>{{ngDialogData.descriptif}}</p>
		<ul>
			<li ng-repeat="date in ngDialogData.dates">
			<strong>{{date.description}}</strong> - {{date.date | date:'longDate'}}
			</li>
		</ul>
		<h4>Liens</h4>
		<ul>
			<li ng-repeat='link in links | filter:{ target1 : ngDialogData.id }'>
				{{link.target2.selected.nom}} - {{link.target2.target.name}}
			</li>
			<li ng-repeat='link in links | filter:{ target2 : ngDialogData.id }'>
				{{link.target1.selected.nom}} - {{link.target1.target.name}}
			</li>					
		</ul>
	</div>
	<div class="ngdialog-buttons">
		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Fermeture</button>
		</div>
	</div>
</script>
</div>
